#Container{
    box-sizing: border-box;
    border: solid black 1px;
    width: calc(100vh - 100px);
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: row;
}

.divRow{
    box-sizing: content-box;
    flex: 1;
    background-color: black;
    border: solid 0.1px pink;
    display: flex;
    flex-direction: column;
}

.divElement{
    box-sizing: content-box;
    flex: 1;
    background-color: black;
    border: solid 1px pink;
    color: blanchedalmond;
}

.divElement:hover{
    background-color: crimson;
}